/* 
    General Styles
*/

@media (max-width: 767px) {
    body {
      font-size: 14px;
    }
  }
  
 
  @media (min-width: 768px) and (max-width: 991px) {
    body {
      font-size: 16px;
    }
  }
  
 
  @media (min-width: 992px) {
    body {
      font-size: 18px;
    }
  }

.card1{
  border-radius: 30px 0px 30px 1px;
}
  
#tittleHeader{
  font-family: 'Impact', fantasy; 
  font-size: 4em; 
  color: #ff4500; 
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8); 
  letter-spacing: 5px; 
  text-transform: uppercase;
  margin-bottom: 30px;
  line-height: 1.2;
  border-bottom: 4px solid #ffcc00; 
}

a {

    text-decoration: none; 
    color: inherit;
    cursor: pointer; 

  
}
a:hover {
    color: greenyellow;
}

.borderAnimate{
    position: relative;
    &:before{
        content: " ";
        display: block;
        width: 0px;
        height: 3px;
        background-color:greenyellow;
        position: absolute;
        left: 15;
        bottom: 0;
        transition: all 1s;
    }
    &:hover::before{
        width: 80%;

    }
}



body { 
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to bottom right, rgb(105, 125, 75), rgb(27, 27, 25));
 color: rgb(255, 254, 254);
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.botoncompracard{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  width: 100%;
  background-color: #ffcc00;
  font-weight: bolder;
}


.homeLetter {
  color: #ff4500; 
}
.cardcolor{
  color: #ff4500; 
}